name: Go Build, SonarQube Analysis

on:
  push:
    branches:
      # - FoxDev  # Only run on changes to the FoxDev branch
      - '**'
  pull_request:
    # branches:
    #   - FoxDev  # Also runs on pull requests targeting FoxDev
    types: [opened, synchronize, reopened]
  workflow_dispatch: # Allows manual triggers

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21' # Specify your Go version

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install dependencies
        run: go mod tidy

      - name: Build Go apps
        run: |
          go build -o golc ./golc.go
          go build -o ResultsAll ./ResultsAll.go

      - name: Run tests
        run: go test -v ./pkg/...

      # SonarQube Analysis
      - name: Run SonarQube Analysis
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      # Fail the build if the quality gate is not met
      - uses: SonarSource/sonarqube-quality-gate-action@v1
        timeout-minutes: 5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  # manual_approval:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   steps:
  #     - name: Wait for manual approval
  #       uses: chrnorm/deploy-approval-action@v1.2.0
  #       with:
  #         approvers: 'your-github-username' # List the GitHub usernames who can approve
  #         token: ${{ secrets.GITHUB_TOKEN }}

  # release_stub:
  #   runs-on: ubuntu-latest
  #   # needs: manual_approval
  #   steps:
  #     - name: Release process (stubbed)
  #       run: echo "Release process started. Stubbed out for now."
